<div class='container has-text-left'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-10'>
      <div class='box'>
        <h4 class="title is-4">{{singlePilot.name}}</h4>
        <h6 class="title is-6">{{singlePilot.rank}}, {{singlePilot.unit}}</h6>
        <p class="mb-2">{{singlePilot.comment}}
        <p>
          <a  href="{{singlePilot.link}}" target="_blank">{{singlePilot.link}}</a>
          <br>
        <div>
          <a href="/pilots">
            <button class="button is-info is-link mt-2">← Back</button>
          </a>
        </div>
      </div>
    </div>
  </div>